<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md">
              <span class="text-muted"><a target="_blank"
                  href="https://github.com/gcharest/gcharest.github.io/tree/master/{{ page.path }}">{{ site.data.i18n.general.viewOnGithub[page.lang] }}</a></span>
        <p class="feed-subscribe">
          <a href="{{ 'feed.xml' | relative_url }}">
            <svg class="fas fa-rss">
            </svg>
            <span>{{site.data.i18n.general.subscribe[page.lang]}}</span>
          </a>
        </p>
      </div>
      <div class="col-md">
        <p class="text-muted" id="licence">
          {%- if page.licence -%}
            {%- if page.licence == "ccbync" -%}
              {%- include licence-nc.html -%}
            {%- else -%}
              {%- include licence.html -%}
            {%- endif -%}
          {%- elsif page.layout == "post" -%}
            {%- include licence-nc.html -%}
          {%- else -%}
            {%- include licence.html -%}
          {%- endif -%}
        </p>
      </div>
    </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.slim.js"
  integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/highlight.min.js" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.min.js"
  integrity="sha256-t5ZQTZsbQi8NxszC10CseKjJ5QeMw5NINtOXQrESGSU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/dataTables.bootstrap4.min.js"
  integrity="sha256-hJ44ymhBmRPJKIaKRf3DSX5uiFEZ9xB/qx8cNbJvIMU=" crossorigin="anonymous"></script>
<script src="/assets/js/tableFoodFactors.js"></script>
<script src="https://use.fontawesome.com/releases/v5.11.2/js/all.js"></script>
<script src="/assets/js/copy-clipboard.js"></script>
<script>
  $("table").addClass("table");
  $("blockquote").addClass("blockquote");
  hljs.initHighlightingOnLoad();
</script>