<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licence Creative Commons" style="border-width:0"
        src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/"
    property="dct:title">{{ site.data.i18n.general.ccby1[page.lang]}}</span> <a
      xmlns:cc="http://creativecommons.org/ns#" href="https://gcharest.github.io/"
    property="cc:attributionName" rel="cc:attributionURL">Guillaume Charest</a> 2018-2019. {{ site.data.i18n.general.ccby3[page.lang]}} <a
      rel="license" href="http://creativecommons.org/licenses/by/4.0/">{{ site.data.i18n.general.ccby4[page.lang]}}</a>.