{%- assign aPost = site.posts | where:"lang", page.lang -%}
{%- assign aPost = aPost | sort %}
{%- if aPost.size > 0 -%}
{%- assign  counter = aPost.size -%}

    {%- for post in aPost -%}
        {%- if post.ref == page.ref -%}
            {%- unless forloop.first -%}
                {%- assign prevPost_i = forloop.index0 | minus: 1 -%}
                {%- assign prevPost = aPost[prevPost_i] -%}
            {%- endunless -%}
            {%- unless forloop.last -%}
                {%- assign nextPost_i = forloop.index0 | plus: 1 -%}
                {%- assign nextPost = aPost[nextPost_i] -%}
            {%- endunless-%}
        {%- endif -%}
    {%- endfor -%}

    <div class="post-nav">
        <p>
        {%- if prevPost -%}
        <a class="prev" href="{{prevPost.url}}" title="{{ prevPost.title }}">{{ site.data.i18n.general.prev[page.lang]}}: {{prevPost.title}}</a>
        {%- endif -%}
        </p>
        <p class="post-nav-next">
        {%- if nextPost -%}
        <a class="next" href="{{nextPost.url}}" title="{{ nextPost.title }}">{{ site.data.i18n.general.next[page.lang]}}: {{nextPost.title}}</a>
        {%- endif -%}
        </p>
    </div>
{%- endif -%}