<div class="row">
  <!--Filters-->
  <!--<div class="col-md-3"></div>
  -->
  <!--Data Table-->
  <div class="col mrgn-bttm-lg">
    <table class="table table-hover" id="tableFoodFactors">
      <thead>
        <tr>
          <th scope="col">{{ site.data.i18n.tables.food[page.lang]}}</th>
          <th scope="col">{{ site.data.i18n.tables.factor[page.lang]}}</th>
          <th scope="col">{{ site.data.i18n.tables.category[page.lang]}}</th>
          <th scope="col">{{ site.data.i18n.tables.source[page.lang]}}</th>
        </tr>
      </thead>
      <tbody>
        {%- assign count = 0 -%}
        {%- for entry in site.data.diabetes.generic_food -%}
        {%- for category in entry.source.categories -%}
        {%- for food in category.food -%}
        {%- assign count = count | plus: 1 -%}
        <tr>
          <td>
            {{ food.name[page.lang] }}
          </td>
          <td>
            <span class="table-factor">
              {%- assign factorID = "clip-" -%}
              {%- if page.lang == "fr" -%}
              <input type="text" aria-label="{{ site.data.i18n.tables.factor[page.lang] }}"
                alt="{{ site.data.i18n.tables.factor[page.lang] }}" id="{{ factorID | append: count }}"
                value="{{ food.factor | replace: ".", ","}}" readonly>
              {%- else -%}
              <input type="text" aria-label="{{ site.data.i18n.tables.factor[page.lang] }}"
                alt="{{ site.data.i18n.tables.factor[page.lang] }}" id="{{ factorID | append: count }}"
                value="{{ food.factor }}" readonly>
              {%- endif -%}
              <button aria-label="{{ site.data.i18n.tables.copyValue[page.lang] }}"
                alt="{{ site.data.i18n.tables.copyValue[page.lang] }}"
                onclick="copyText('{{ factorID | append: count}}', '{{ site.data.i18n.tables.copiedValue[page.lang]}}')"><i
                  class="far fa-copy"></i></button>
            </span>
          </td>
          <td>
            {{ category.name[page.lang] }}
          </td>
          <td>
            {{ site.data.i18n.tables.sourceType.external[page.lang] }}
          </td>
        </tr>
        {%- endfor -%}
        {%- endfor -%}
        {%- endfor -%}
        {%- for recipes in site.data.diabetes.recipes -%}
        {%- assign count = count | plus: 1 -%}
        {%- assign recipe = recipes[1] -%}
        <tr>
          <td>
            <a href="{{ recipe.link[page.lang] }}" target="_blank">{{recipe.name[page.lang]}}</a>
          </td>
          <td>
            <span class="table-factor">
              {% assign factorID = "clip-" %}
              {%- if page.lang == "fr" -%}
              <input type="text" aria-label="{{ site.data.i18n.tables.factor[page.lang] }}"
                alt="{{ site.data.i18n.tables.factor[page.lang] }}" id="{{ factorID | append: count }}"
                value="{{ recipe.factor | replace: ".", ","}}" readonly>
              {%- else -%}
              <input type="text" aria-label="{{ site.data.i18n.tables.factor[page.lang] }}"
                alt="{{ site.data.i18n.tables.factor[page.lang] }}" id="{{ factorID | append: count }}"
                value="{{ recipe.factor }}" readonly>
              {%- endif-%}
              <button aria-label="{{ site.data.i18n.tables.copyValue[page.lang] }}"
                alt="{{ site.data.i18n.tables.copyValue[page.lang] }}"
                onclick="copyText('{{ factorID | append: count}}', '{{ site.data.i18n.tables.copiedValue[page.lang]}}')"><i
                  class="far fa-copy"></i></button>
            </span>
          </td>
          <td>
            {{ site.data.i18n.tables.recipes[page.lang] }}
          </td>
          <td>
            {{ site.data.i18n.tables.sourceType.calculatedRecipe[page.lang] }}
          </td>
        </tr>
        {% endfor%}
      </tbody>
    </table>
  </div>
  <!--Modal Lightboxes-->
</div>