<div class="row">
  <!--Filters-->
  <!--<div class="col-md-3"></div>
  -->
  <!--Data Table-->
  <div class="col mrgn-bttm-lg">
    <table class="display" id="tableFoodFactors">
      <thead>
        <tr>
          <th>{{ site.data.i18n.tables.food[page.lang]}}</th>
          <th>{{ site.data.i18n.tables.factor[page.lang]}}</th>
          <th>{{ site.data.i18n.tables.category[page.lang]}}</th>
          <th>{{ site.data.i18n.tables.source[page.lang]}}</th>
        </tr>
      </thead>
      <tbody>
        {% for entry in site.data.diabetes.generic_food %}
        {% for category in entry.source.categories %}
        {% for food in category.food %}
        <tr>
          <td>
            {{ food.name[page.lang] }}
          </td>
          <td>
            {{ food.factor }}
          </td>
          <td>
            {{ category.name[page.lang] }}
          </td>
          <td>
            <a href="{{ entry.source.URL[page.lang]}}">{{ entry.source.name[page.lang] }}
              {%- if entry.source.type == "PDF"-%}
              {%- assign suffix = " (PDF)" -%}
              {{ suffix }}
              {%- endif -%}
            </a>
          </td>
        </tr>
        {% endfor %}
        {% endfor %}
        {% endfor %}
        {% for recipe in site.data.diabetes.online_recipes %}
        <tr>
          <td>
            <a href="{{ recipe.link[page.lang] }}">{{recipe.name[page.lang]}}</a>
          </td>
          <td>
            {{ recipe.factor }}
          </td>
          <td>
            {{ site.data.i18n.tables.calculatedRecipe[page.lang] }}
          </td>
          <td>
            {{ recipe.author }}
          </td>
        </tr>
        {% endfor%}
      </tbody>
    </table>
  </div>
  <!--Modal Lightboxes-->
</div>