/* Header */

.jumbotron {
  padding: 60px .5rem .5rem;
  margin-bottom: 1rem;
}

.jumbotron h2 {
  margin-bottom: .5rem;
}

/* Title */

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
}

/* Posts Nav links*/
.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
  text-align: right;
}

/* Main */

/* Footer */
/* Sticky footer styles - https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/ */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
.content {
  position: absolute;
  top: 55px;
  bottom: 0;
  overflow-y: scroll;
  width: 100%;
}

#licence {
  line-height: 2;
}

/*Navigation links for accessibility*/

#Menu1 .nav-link {
  color: #EDEEEE;
}

.alert a {
  color: #004DA3;
}

.alert-success {
  background-color: #E2F3E7;
}

.footer a {
  color: #004FA8;
}

/* Homepage styles*/

#homepage {
  text-align: center;
}

/*Blockquotes*/
/*Adapted from: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/blockquote */
blockquote {
  margin: 0;
  padding: 15px;
  background: #eee;
  border-radius: 5px;
}

.blockquote {
  font-size: 1rem;
}

/*Tables*/

table{
  width: 100% !important;
}

#tableFoodFactors th, td {
white-space: nowrap;
}