<!DOCTYPE html>
<html class="no-js" lang="{{ page.lang }}" dir="ltr">

{% include head.html %}

<body vocab="http://schema.org/" typeof="WebPage">

  {% include header.html %}

  <main class="container">
    <div class="row">
      <div class="col">
        {%- if page.ref != "home" -%}
        {%- if page.layout == "post" -%}
        {%- include posts-navlinks.html -%}
        {%- endif -%}
        <h2>{{ page.title }}</h2>
        {%- endif -%}
      </div>
    </div>
    {%- if page.ref != "facteur-glycémique"-%}
    <div class="row">
      <div class="col">
        {{ content }}
      </div>
    </div>
    {%- else -%}
    {{ content}}
    {%- endif -%}
    <div class="row">
      <div class="col">
        {%- include notice.html -%}
      </div>
    </div>
  </main>

  {% include footer.html %}

</body>

</html>